extends layout

block content
  h1= title
  if post_list.length
    ul(class="collection") 
      each post in post_list
        li(class="collection-item")
          a(href=post.url+'/detail') #[strong #{post.title}]
          if current_user 
            if current_user._id.toString() === post.user._id.toString()
              |  #[string (you)]
          p(class="truncate") #{post.message}
          if current_user === undefined ? false : current_user.is_member
            p
            | author:
            a(href=post.user.url+'/detail')  #{post.user.username}
            br
            | created at:
            | #{post.created_at_formatted}

  else 
    p There are no posts