extends layout 

block content 
    div(class='row')
        div(class="card blue-grey lighten-5")
            div(class="card-content grey-text darken-4")
                span(class="card-title") #[strong #{title}:]
                p #[strong Title:] #{post.title}
                if show_member_detail
                    p #[strong Author:]
                        a(href=post.user.url+"/detail")  #{post.user.username} 
                    p #[strong Created At:] #{post.created_at_formatted}
                p #[strong Message:] 
                p #{post.message}

            if show_action
                div(class="card-action center-align ")
                    a(class="blue-grey-text darken-2" href=post.url+'/delete') Delete Post
                    //a(class="blue-grey-text darken-2" href=post.url+'/update') Update Post