extends layout 

block content
    h1 #[strong #{title}:]
    p #[strong Title:] #{post.title}
    p #[strong Author:]
    a(href=post.user.url+"/detail")  #{post.user.username} 
    p #[strong Created At:] #{post.created_at_formatted}
    p #[strong Message:] 
    p #{post.message}

    p.red-text Do you really want to delete this Post?
    form(method='POST')
        div.form-group
            input#postid.form-control(type='hidden' name='postid', value=post._id )

        button.btn.btn-primary(type='submit') Delete